<section class='CTA'> 
				<table class="table table-striped" style="color: white">
				  	<tr>
				    	<th></th>
				    	<th>Title</th>
				    	<th>Release date</th>
				    	<th>Director</th>
				    	<th></th>
				    	<th></th>
				  	</tr>
						<% if @search_results[:results][0]==nil %>
							<div class="alert-danger" align="center" style="height: 100px; width: 300px;"> 
								<p style="padding-top: 40px;"> Ce film n'existe pas</p>
							</div>
						<% else %>
							<% @search_results[:results].each_with_index do |s| %>
							  <tr>
								<% if s.backdrop_path == nil %>
					   		<% else %>
                  <td style= "max-width: 300px;"> <%= image_tag("https://image.tmdb.org/t/p/w600_and_h900_bestv2" +  s.poster_path)  %> </td>
						   	<td>
						    	<%= s.title %>
						    </td>
					  		<td> <%= s.release_date %> </td>
								<td> <%= Tmdb::Movie.director(s.id).first.name %> </td>
						  	</tr>
                <% end %>
							<% end %>
						<% end %>
				</table>
</section>
